<div class="main-header bg-main-gray">
  <h1 class="name-header text-light">Comeia Weather</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
        <h1 class="space01">CIDADE 01</h1>
    </div>
    <div class="col-sm-2">
      <h1 class="space02">CIDADE 02</h1>
    </div>
    <div class="col-sm-2">
      <h1 class="space03">CIDADE 03</h1>
    </div>
    <div class="col-sm-2">
      <h1 class="space04">CIDADE 04</h1>
    </div>
    <div class="col-sm-2">
      <h1 class="space05">CIDADE 05</h1>
    </div>
  </div>
</div>